.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.input:disabled {
  opacity: 0.5;
}

.input:not(:disabled).input:hover {
  background-color: gray;
}

.input:focused {
  border: 2px solid gray;
}

.tip {
  color: gray;
}

.errorMessage {
  border-color: red;
}

.icon {
  width: 24px;
  height: 24px;

  &.iconPositionRight {
   margin-left: auto;
  }
  &.iconPositionLeft {
    margin-right: auto;
  }
}
