.authFormWrapper {
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 4px;
}

.authFormLoader {
  width: 100%;
  padding: 20px;
}

.authForm {
  display: grid;
  gap: 16px;
}

.formFields {
  display: grid;
  gap: 8px;
}

.formInput {
  width: 100%;
  padding: 4px;
}

.submitButton {
  width: 200px;
  padding: 4px;
  margin: 0 auto;
  cursor: pointer;
}